
        <aside>
            <div class="aside__top">
                <div class="aside__logo"><img src="img/logo.jpg" alt="logo"></div>
                <div class="aside__number"><a href="">8(776)7261549</a></div>
                <div class="aside__working-hours">Время работы: круглосуточно</div>
            </div>
            <nav class="catalog ">
                <ul>
                    <li class="catalog__item">
                        <a href="#">
                            <img src="img/icons/pizza.svg" alt="icon">
                            <span>Пицца</span>   
                        </a>
                    </li>
                    <li class="catalog__item active">
                        <a href="#">
                            <img src="img/icons/pizza.svg" alt="icon" >
                            <span>Пицца</span>   
                        </a>
                    </li>
                    <li class="catalog__item">
                        <a href="#">
                            <img src="img/icons/pizza.svg" alt="icon">
                            <span>Пицца</span>   
                        </a>
                    </li>
                    <li class="catalog__item">
                        <a href="#">
                            <img src="img/icons/pizza.svg" alt="icon">
                            <span>Пицца</span>   
                        </a>
                    </li>
                    <li class="catalog__item">
                        <a href="#">
                            <img src="img/icons/pizza.svg" alt="icon">
                            <span>Пицца</span>   
                        </a>
                    </li>
                    <li class="catalog__item">
                        <a href="#">
                            <img src="img/icons/pizza.svg" alt="icon">
                            <span>Пицца</span>   
                        </a>
                    </li>
                </ul>
            </nav>
        </aside>
        <main>
        