<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pizza</title>
    <link rel="stylesheet" href="css/index.min.css">
</head>
<body>
    <div id="root">
<header>
    <nav class="menu">
        <ul class="menu__wrapper">
            <li class="menu__item city">
                <a href="#">
                    <div>
                        <img class="menu__pin" src="img/icons/pin.svg" alt="icon">
                    </div>
                    <div>
                        <span>Павлодар</span>
                    </div>
                </a>
            </li >
            <li class="menu__item">
                <a href="#">Акции</a>
            </li>
            <li class="menu__item">
                <a href="#">Доставка</a>
            </li>
        </ul>

        <div class="basket-wrapper">
            <a href="#">
                <div class="basket">
                    <div class="basket__title">Корзина</div>
                    <div class="basket__count">0</div>
                    
                </div>
            </a>
        </div>
    </nav> 
</header>
