header{
    border-bottom: 1px solid $border-color;
    background-color: #fff;
    height: 100%;
}
.menu, .menu__item, .menu__item.city a, .menu__wrapper, 
.basket-wrapper{
    display: flex;
    align-items: center;
    height: 100%;
}
.menu{
    justify-content: space-between;
}
.menu__item{
    font-size: 1vw;
    position: relative;
    a{
        padding: 1.4vh 3vh;
    }
    ::before{
        content: "";
        position: absolute;
        bottom: 0;
        right: 0;
        height: 100%;
        width: 1px;
        background-color: $border-color;
    }
    
    :hover {
        color: $main-color;
    }
}
.menu__item.city a{
    font-weight: 600;
}
.menu__pin{
    width: 1.7vw;
    height: 1.7vw;
    float: left;
    margin-right: 0.3vw;
}
.basket-wrapper{
    margin-right: 2vw;
    a{
        height: 80%;
        width: 9vw;
    }
}
.basket{
    display: flex;
    align-items: center;
    color: #fff;
    height: 100%;
    border-radius: 12px;
    background-color: $main-color;
    font-size: 0.9vw;
    position: relative;
    text-align: center;
}
.basket__title{
    flex: 2;
}
.basket__count{
    flex: 1;
    border-left: 1px solid #fff;
}
